
<h3>Poprawne odpowiedzi: {{ correctAnswers }} / {{ questionsIds.length }}</h3>
<div *ngIf="!question" class="container" style="height: 100vh">
  <button class="btn btn-success" (click)="showQuestion()">Rozpocznij</button>
</div>

<div *ngIf="question" style="height: 100vh" class="container justify-content-center align-items-center">
    <div class="card" style="width: 100%;">
      <div class="card-body">
        <h5 class="card-title">Pytanie nr {{ questionsIds?.length }}</h5>
        <p class="card-text">{{ question?.content }}</p>
      </div>
    </div>
    <div *ngIf="isChecked; else not_checked">
      <button *ngFor="let answer of question?.answers" (click)="checkAnswer(answer)" type="button" class="btn btn-{{ answer.isCorrect ? 'success' : 'danger' }} " style="width: 100%; margin-top: 10px; margin-bottom: 10px">{{ answer.content }}</button>
    </div>
  <ng-template #not_checked>
    <button *ngFor="let answer of question?.answers" (click)="checkAnswer(answer)" type="button" class="btn btn-primary" style="width: 100%; margin-top: 10px; margin-bottom: 10px">{{ answer.content }}</button>
  </ng-template>
</div>
